{% extends "templates/layouts/default.html" %}

{% block content %}

	<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About UIRIMAL</h2>
                    <hr class="light">
                    <p class="text-faded">Click below to learn more about UIRIMAL, The International University of Rabat, 
                    and Morocco.</p>
                    <a href="#overview" data-toggle="modal" class="btn btn-default btn-xl">Learn About UIR & Morocco!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="committees">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Councils at UIRIMAL</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe wow bounceIn text-primary" href="#jdc" data-toggle="modal"></i>
                        <h3>Joint Defense Council</h3>
						<p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe wow bounceIn text-primary" href="#pa" data-toggle="modal" data-wow-delay=".1s"></i>
                        <h3>Palestinian Affairs</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe wow bounceIn text-primary" href="#social" data-toggle="modal" data-wow-delay=".2s"></i>
                        <h3>Social Affairs</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
			</div>
			<div class="row">
                <div class="col-lg-6 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe wow bounceIn text-primary" href="#environment" data-toggle="modal" data-wow-delay=".3s"></i>
                        <h3>Environmental Affairs</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
				<div class="col-lg-6 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-globe wow bounceIn text-primary" href="#special" data-toggle="modal" data-wow-delay=".4s"></i>
                        <h3>Special Committee on Refugees</h3>
                        <p class="text-muted">Chair: TBA</p>
                    </div>
                </div>
            </div>
        </div>
		<div id="jdc" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Joint Defense Council</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Developing strategies to settle water sharing disputes among members of the League of Arab States and between Arab States and non-Arab neighbors (focus on legal framework and strategies)</p>
						<p>2. Reviewing and revising collective security commitments under the Charter of the League of Arab States and the Joint Defence and Economic Cooperation Treaty among members of the League of Arab States</p>
						<p>3. Developing military strategies to protect economic infrastructure in the Arab World during times of conflict</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="pa" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Palestinian Affairs</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Review of League of Arab State’s strategy in view of the rejection of a two state solution by the Israeli regime</p>
						<p>2. Encouraging and enforcing political cooperation between the Palestinian Authority and HAMAS</p>
						<p>3. Protection of Palestinian refugees in areas of conflict outside Palestine</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="environment" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Environmental Affairs</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Preparing members states for the challenges of climate change</p>
						<p>2. Improving the environment to promote better health in member states</p>
						<p>3. Conserving water resources and promoting more efficient use of water in agriculture</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="social" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Social Affairs</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Promotion and protection of Arab culture in a globalizing world</p>
						<p>2. Social implications and consequences of high unemployment among Arab youth and measures to mitigate them</p>
						<p>3. Promoting the role of social institutions as instruments of environmental responsibility</p>
						<p>4. Improving Social entrepreneurship in the Arab World</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div id="special" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="text-decoration: bold;">Topics for Special Committee on Refugees</h4>
                </div>
                <div class="modal-body">
                    
                        <p>1. Developing strategy and establishing infrastructure for continued education of refugee children from Syria, Iraq and Yemen</p>
						<p>2. Protection of refugee women and children from all forms of exploitation</p>
						<p>3. Developing policies and training refugees to enable the establishment of economic activity integrated into the economy of the host country</p>
				
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="no-padding" id="staff">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioRaya" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Raya Siddiqi
                                </div>
                                <div class="project-name">
                                    Secretary General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div id="bioRaya" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">Raya Siddiqi</h4>
                </div>
                <div class="modal-body">
                    <p>Raya is...</p>
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioLiz" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Liz Neduva
                                </div>
                                <div class="project-name">
                                    Director General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="bioLiz" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">Liz Neduva</h4>
                </div>
                <div class="modal-body">
                    <p>Liz Neduva is a recent alumnus of Georgia State University where she earned a Bachelor of Arts in Political Science as well as Economics. She joined the Georgia State University Model United Nations Team her sophomore year and has been an active member ever since. She has also had the pleasure to serve on the Secretariat of the GSUMUN High School Conference hosted annually by Georgia State. Liz is passionate about soccer and can hardly wait for the World Cup 2018 in her motherland.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioLina" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Lina Bahi
                                </div>
                                <div class="project-name">
                                    Assistant Secretary General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
    <div id="bioLina" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">Lina Bahi</h4>
                </div>
                <div class="modal-body">
                    <p>Lina Bahi is a senior at Université Internationale de Rabat majoring in International Business Management. Before pursuing her major, she was attending engineering school preparatory classes in Rabat. As President of the Rotaract Club of her university, she is engaged in community work, involving other students in achieving their personal development by responding to the community's social needs. As a female activist, she is passionate about social issues focusing on women and their role in the Arab world. The main reason Lina joined the Model Arab League is to discuss the global environment of those issues to further explore avenues to apprehend them. In her free time, Lina enjoys reading, traveling around the world and French creative writing. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioFatine" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Fatine El Mechrafi
                                </div>
                                <div class="project-name">
                                    Deputy Director General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="bioFatine" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">Fatine El Mechrafi</h4>
                </div>
                <div class="modal-body">
                    <p>Fatine El Mechrafi is a student at Université Internationale de Rabat. After completing her baccalaureate, she went to Paris, France, to study at Sorbonne University where she received a Bachelor’s and a Master’s degree in Law and Political Sciences. Then she came back to Morocco and started preparing for a Master’s degree in Business Law and Taxation at UIR. In January 2015, Fatine participated in a Model UN simulation in Fes, Morocco, and it was a rewarding experience that inspired her to establish a debate club at her university. Fatine uses her spare time for many things such as traveling, reading, practicing Tai-chi-chuan, and writing. She likes writing short stories or satirical articles about society or breaking news. Fatine thinks that words are as powerful as weapons, and that they could change the world for the better when they are used wisely. Her goals in life are to be a good legal counsel, an exemplary citizen, a respectful women and be able to spread happiness and make a better world by fighting for human rights. Yes, she is a little bit optimistic, but she still believes that the world needs optimistic people.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#bioAmine" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Amine Zeidane
                                </div>
                                <div class="project-name">
                                    Deputy Director General
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div id="bioAmine" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">Amine Zeidane</h4>
                </div>
                <div class="modal-body">
                    <p>Amine Zeidane is an engineering student at Université Internationale de Rabat, majoring in Renewable Energies. Born in Morocco, he did a two-year degree in Mechanical Engineering abroad before coming back to Morocco to continue engineering school. Co-founder of a non-profit that works on enhancing children’s creativity through practical, innovative workshops, his goal is to make science cool and to spread the spirit of creation and innovation via fostering an experiential learning culture among people of all ages in Arab countries. After his first participation as a delegate in a local Model United Nations simulation, Amine became very passionate about political issues around the world, especially with the post-Arab Spring in the MENA region, particularly on how to get past the confusion and into a structured evolution. In his free time, Amine enjoys making robots for fun, traveling, and mountain hiking. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
            
                
                <div class="col-lg-4 col-sm-6">
                    <a href="#bio" class="portfolio-box" data-toggle="modal">
                        <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Shahein Moussavi
                                </div>
                                <div class="project-name">
                                    Deputy Director General/Web Developer
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
    <div id="bio" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">Shahein Moussavi</h4>
                </div>
                <div class="modal-body">
                    <p>I am a graduate of Georgia State University, with a degree in Political Science, concentrating in International Affairs, in particular the Middle East, Africa, and South Asia.  However, I have made my way as a Software Developer, and I have enjoyed every minute of it.  My focus is on Web Development, and as a long-time participant in Model United Nations and Model Arab League, I simply could not pass up the opportunity to create an informative and exciting web application for the UIRIMAL 2015 conference.  I'm very much looking forward to seeing all of the participants at UIRIMAL this November!</p>

                    <p>Questions, comments, or concerns about the site?</p>
                    <p>Please send any thoughts (preferably with a reference to UIRIMAL in the subject line) to:</p>
                    <a href="mailto:shaheinm@gmail.com">shaheinm@gmail.com</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark" id="resources">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Conference Resources</h2>
                <p class="text-faded">Click the button below to access resource documents for delegates, such as background guides and procedural preparation.</p>
                <a href="http://resources.uirimal.com/" class="btn btn-default btn-xl wow tada">Resources</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Click the button below to send us a message!</p>
					<a href="/contact" class="btn btn-default btn-xl">Contact Us!</a> 
				</div>
            </div>
        </div>
    </section>

        <div id="overview" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <head>
                            <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
                            <meta name=ProgId content=Word.Document>
                            <meta name=Generator content="Microsoft Word 15">
                            <meta name=Originator content="Microsoft Word 15">
                            <link rel=File-List href="/Overview_files/filelist.xml">
                            <link rel=Edit-Time-Data href="/Overview_files/editdata.mso">
                            <link rel=themeData href="/Overview_files/themedata.thmx">
                            <link rel=colorSchemeMapping href="/Overview_files/colorschememapping.xml">
                        </head>
                        <h4 class="modal-title">About UIRIMAL & Morocco</h4>
                </div>
                <div class="modal-body">
                    <body lang=EN-US link=blue vlink=purple style='tab-interval:35.4pt'>

                        <div class=WordSection1>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:12.0pt;line-height:150%;font-family:"Garamond",serif'>UIRIMAL:  UIR Overview<o:p></o:p></span></b></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>As the
                        first public-private partnership in higher education, the Université Internationale de Rabat (UIR) embodies a unique model
                        in Morocco by being non-profit, State-funded and managed by a private
                        entity.  This structure enables the
                        university to excel in academic training and research, contributing to the
                        socio-economic development of the Kingdom and the region.  In identifying and developing the twelve
                        schools and departments that make up UIR, the university looked toward the
                        Moroccan diaspora abroad to join the institution as deans, faculty and
                        administration, contributing to a diverse and international academic
                        environment.  From its first incoming
                        classes, UIR’s vision sought to encourage socio-economic diversity, thus
                        creating one of the first scholarship and financial aid structures in Morocco
                        and encouraging students from all backgrounds to enroll in fully accredited
                        Bachelors and Masters <span class=GramE>programs</span>.<o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>With
                        nearly 2,000 students enrolled, the university has facilitated several academic
                        and research partnerships outside of Morocco, with Sciences Po Grenoble, ESIC
                        Madrid, Georgia Institute of Technology and Mississippi State University in offering
                        double-degree programs, all with the objective of enriching the educational
                        experience and encouraging cross-disciplinary mobility and collaboration for
                        students and faculty in fields ranging from Political Science and Architecture
                        to Aerospace Engineering and Renewable Energy.&nbsp; Outside of the campus, the
                        university has formed strong ties with the local community in Rabat and Morocco,
                        including with research institutes such as the Centre Jacques <span
                        class=SpellE>Berque</span> and the National Library.  In 2014, UIR was awarded the “International
                        Quality Crown” for its advancement in innovation and academic quality and excellence,
                        followed by the “Prix de <span class=SpellE>l’Innovation</span>” by the
                        Moroccan Authority on Industrial and Commercial Property and the Ministry of
                        Education, for its strategic research and development emphasis, resulting in
                        over 100 patents in two years.  The
                        campus construction planning integrated this priority of being “green”,
                        resulting in an HQE-certified administrative building, a solar farm and a water
                        basin irrigation system.&nbsp; These awards and efforts reflect the university’s
                        investment in advancing scientific research, scholarly publication and
                        intellectual property. <o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif;mso-bidi-font-family:
                        Verdana;mso-fareast-language:FR'>UIR, with its students and faculty is
                        committed to mobilizing stakeholders and resources in organizing UIRIMAL
                        sessions under the theme of New Paths, New Challenges.</span><span
                        style='font-family:"Garamond",serif'>  </span><span
                        style='font-family:"Garamond",serif;mso-bidi-font-family:Verdana;mso-fareast-language:
                        FR'>Hosting an event of this magnitude, with a network of students, educators
                        and knowledge-seekers significantly contributes to UIR’s institutional vision,
                        in </span><span style='font-family:"Garamond",serif'>highlighting the
                        importance of Morocco as a destination for international scholarship and
                        reinforcing the importance of a global mindset for the student body, faculty
                        and campus environment</span><span style='font-family:"Garamond",serif;
                        mso-bidi-font-family:Verdana;mso-fareast-language:FR'>.  <o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
                        line-height:115%;font-family:"Garamond",serif;mso-fareast-font-family:Calibri;
                        mso-bidi-font-family:"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:
                        EN-US;mso-bidi-language:AR-SA'><br clear=all style='mso-special-character:line-break;
                        page-break-before:always'>
                        </span></b>

                        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:12.0pt;line-height:115%;font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><b style='mso-bidi-font-weight:normal'><span
                        style='font-size:12.0pt;line-height:150%;font-family:"Garamond",serif'>Morocco
                        &amp; Rabat<o:p></o:p></span></b></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif;mso-bidi-font-family:
                        Helvetica'>Morocco offers an exciting mix of cultures, sitting at the
                        crossroads of Arabic, European and Amazigh cultures. Most Moroccans are
                        trilingual and the country’s location at the crossroads between East and West,
                        North and South, has fostered a long history resulting in wide-ranging trade,
                        student mobility and international exchange with its Mediterranean neighbors,
                        the Middle East and beyond. In 2014 Morocco hosted President Obama’s
                        initiative, the Global Entrepreneurship Summit in Marrakech, bringing together
                        hundreds of nationalities in an event focused on developing leadership,
                        entrepreneurship and cultivating international collaborations.  This was followed by the Global Forum on
                        Human Rights, again attracting thousands of participants to convene and address
                        global advances and challenges in the field.<span style='mso-spacerun:yes'> 
                        </span></span><span style='font-family:"Garamond",serif;mso-bidi-font-family:
                        Arial'>Rabat is equally a fascinating cosmopolitan city where the old and new
                        local and world cultures blend harmoniously, with the city </span><span
                        style='font-family:"Garamond",serif;mso-bidi-font-family:Helvetica'>featuring a
                        beautiful mixture of modern lifestyles and cultural traditions. Having just
                        been named by the New York Times one of the top destinations for 2015, Rabat
                        hopes to welcome visitors to share its wealth of history and modernity.<o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify'><span style='font-family:"Garamond",serif;mso-bidi-font-family:Helvetica'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-family:"Garamond",serif;color:#4E87A4'><o:p>&nbsp;</o:p></span></b></p>

                        <b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
                        line-height:115%;font-family:"Garamond",serif;mso-fareast-font-family:Calibri;
                        mso-bidi-font-family:"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:
                        EN-US;mso-bidi-language:AR-SA'><br clear=all style='mso-special-character:line-break;
                        page-break-before:always'>
                        </span></b>

                        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'>UIR
                        Campus Overview, Facilities &amp; Capacity<o:p></o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'>
                        
                        <a href="/Overview_files/image002.jpg" target="_blank"><span
                        style='font-family:"Garamond",serif'>Campus Map</span></a>
                        </b><b
                        style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'><o:p></o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;line-height:150%;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'>Overview<o:p></o:p></span></b></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>The <span
                        class=SpellE>Université</span> <span class=SpellE>Internationale</span> de
                        Rabat is built on approximately fifty acres of land and neighbors Rabat-<span
                        class=SpellE>Salé’s</span> <span class=SpellE>Technopolis</span>, with a campus
                        that is continuously expanding to eventually take up thirty of those acres.  Currently the campus hosts three academic and
                        administrative buildings, each with classrooms, auditoriums, research
                        laboratories, office space and meeting rooms.<span style='mso-spacerun:yes'> 
                        </span>These buildings were designed with an open atrium, which has been
                        transformed for special events like the UIR graduation ceremony and the visit
                        of France’s President <span class=SpellE>Hollande</span>.  Alongside these, UIR will be opening an
                        additional dedicated center for scientific research and laboratory work.  UIR’s Engineering and Renewable Energy
                        students intend to work with partner <span class=SpellE>Université</span> de
                        Lorraine in France to open a <span class=SpellE>FabLab</span> workshop for
                        digital fabrication, based on a model originating at the Massachusetts
                        Institute of Technology.<o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>In
                        addition, the campus has four dorms, each with a capacity of housing 415
                        students, a library, cafeteria and a gym with a semi-Olympic pool, several
                        football fields and basketball and tennis courts. The library equally houses a
                        space for UIR’s Executive and Continuing Education programs and is planned to
                        also integrate the UIR Career Center and a language lab.  There is also access to a small grocery
                        store, a café, student lounges, a doctor’s office and a laundromat on campus.<o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>All
                        buildings on campus are equipped with WIFI and academic classrooms are equipped
                        with computers and projectors.  UIR has
                        technical staff prepared to provide technical setup and support for conference
                        organization as well as a general operations team that assists with setup of
                        displays, materials, food arrangements and other needs.  <o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
                        line-height:115%;font-family:"Garamond",serif;mso-fareast-font-family:Calibri;
                        mso-bidi-font-family:"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:
                        EN-US;mso-bidi-language:AR-SA'><br clear=all style='mso-special-character:line-break;
                        page-break-before:always'>
                        </span></b>

                        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'>Facility
                        Details<o:p></o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
                         style='border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
                         mso-yfti-tbllook:1184;mso-padding-alt:0in 5.4pt 0in 5.4pt'>
                         <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:27.7pt'>
                          <td width=562 style='width:168.45pt;border:solid windowtext 1.0pt;mso-border-alt:
                          solid windowtext .5pt;background:#DAEEF3;mso-background-themecolor:accent5;
                          mso-background-themetint:51;padding:0in 5.4pt 0in 5.4pt;height:27.7pt'>
                          <p class=MsoNormal align=center style='margin-top:0in;margin-right:77.9pt;
                          margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center;
                          line-height:normal;tab-stops:439.45pt'><b style='mso-bidi-font-weight:normal'><span
                          style='font-family:"Garamond",serif'>Space<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 style='width:141.75pt;border:solid windowtext 1.0pt;border-left:
                          none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          background:#DAEEF3;mso-background-themecolor:accent5;mso-background-themetint:
                          51;padding:0in 5.4pt 0in 5.4pt;height:27.7pt'>
                          <p class=MsoNormal align=center style='margin-top:0in;margin-right:77.9pt;
                          margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center;
                          line-height:normal;tab-stops:439.45pt'><b style='mso-bidi-font-weight:normal'><span
                          style='font-family:"Garamond",serif'>Size (in <span style='mso-bidi-font-weight:
                          bold'>ft²)</span><o:p></o:p></span></b></p>
                          </td>
                          <td width=613 style='width:183.8pt;border:solid windowtext 1.0pt;border-left:
                          none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          background:#DAEEF3;mso-background-themecolor:accent5;mso-background-themetint:
                          51;padding:0in 5.4pt 0in 5.4pt;height:27.7pt'>
                          <p class=MsoNormal align=center style='margin-top:0in;margin-right:77.9pt;
                          margin-bottom:0in;margin-left:0in;margin-bottom:.0001pt;text-align:center;
                          line-height:normal;tab-stops:439.45pt'><b style='mso-bidi-font-weight:normal'><span
                          style='font-family:"Garamond",serif'>Capacity<o:p></o:p></span></b></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:1'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Building 1<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>110,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-1
                          Auditoriums: 133 seats<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-3
                          Conference Rooms: 16 to 30 seats<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-Classrooms:
                          30<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-Atrium:
                          with chairs and a stage, 550 seats<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:2'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Building 2<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>138,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-2
                          Auditoriums: each 176 seats<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-2
                          Conference Rooms: 16 to 30 seats<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-Classrooms:
                          32<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:3'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Building 3<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>140,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-12
                          Auditoriums: of which 8 will have 70 seats, 2 will seat 100 and 1 will seat
                          170<o:p></o:p></span></p>
                          <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
                          normal'><span style='font-size:10.0pt;font-family:"Garamond",serif'>-2
                          Conference Rooms: 16 to 30 seats<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:4'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Dorm 1<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>87,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>406 beds<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:5'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Dorm 2<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>112,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>414 beds<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:6'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Dorm 3<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>121,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>453 beds<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:7'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Library<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>15,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>n/a<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:8'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Campus Restaurant<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>15,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>Seats 1,000<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:9'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Indoor Gym<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>16,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>n/a<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:10'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Outdoor Sports Fields<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>75,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>n/a<o:p></o:p></span></p>
                          </td>
                         </tr>
                         <tr style='mso-yfti-irow:11;mso-yfti-lastrow:yes'>
                          <td width=562 valign=top style='width:168.45pt;border:solid windowtext 1.0pt;
                          border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
                          padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>Additional Outdoor Space (usable for tents)<o:p></o:p></span></b></p>
                          </td>
                          <td width=473 valign=top style='width:141.75pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><b
                          style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;font-family:
                          "Garamond",serif'>75,000<o:p></o:p></span></b></p>
                          </td>
                          <td width=613 valign=top style='width:183.8pt;border-top:none;border-left:
                          none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
                          mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
                          mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                          <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                          0in;margin-left:0in;margin-bottom:.0001pt;line-height:normal;tab-stops:439.45pt'><span
                          style='font-size:10.0pt;font-family:"Garamond",serif'>For tents <o:p></o:p></span></p>
                          </td>
                         </tr>
                        </table>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;line-height:
                        115%;font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-top:0in;margin-right:77.9pt;margin-bottom:
                        0in;margin-left:0in;margin-bottom:.0001pt;tab-stops:439.45pt'><b
                        style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;line-height:
                        115%;font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <b style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
                        line-height:115%;font-family:"Garamond",serif;mso-fareast-font-family:Calibri;
                        mso-bidi-font-family:"Times New Roman";mso-ansi-language:EN-US;mso-fareast-language:
                        EN-US;mso-bidi-language:AR-SA'><br clear=all style='mso-special-character:line-break;
                        page-break-before:always'>
                        </span></b>

                        <p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
                        style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify'><b style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'>Accessibility:
                        Airport Arrival &amp; Travel Information<o:p></o:p></span></b></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify'><b style='mso-bidi-font-weight:normal'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></b></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>Conference
                        participants would have the option of flying into Casablanca International
                        Airport (CMN), which offers some direct flights with the United States through
                        Royal Air <span class=SpellE>Maroc</span>.<span style='mso-spacerun:yes'> 
                        </span>Casablanca’s airport is approximately 80 miles or a one and a half hour
                        drive from UIR.  The UIR conference
                        organizing committee will provide options for transportation to the
                        campus.  <o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>Additionally,
                        participants can opt to fly into the smaller Rabat-<span class=SpellE>Salé</span>
                        Airport (RBA), which is about eight miles or a fifteen minute drive from
                        UIR.  Flights to RBA from the U.S. can be
                        arranged through Delta/Air France, with a layover in Paris or through Iberia
                        and Royal Air <span class=SpellE>Maroc</span>, with a stop in Madrid or
                        Barcelona.<o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>Flight
                        time to Morocco depends on the city of origin, but is comparable in price and
                        duration as destinations in Europe, notably France, Spain and England, with a
                        flight from New York to Casablanca at about seven hours and around $800 to
                        $1,000 non-stop. Participants coming from the United States and most European
                        countries do not require tourist visas to enter Morocco.  More information about tourist visas can be
                        found at </span><a href="http://www.moroccanconsulate.com/visa.cfm"><span
                        style='font-family:"Garamond",serif'>http://www.moroccanconsulate.com/visa.cfm</span></a><span
                        style='font-family:"Garamond",serif'>.<o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>The UIR
                        staff will prepare a list of options for participants interested in renting
                        cars and any other services upon arrival.<span style='mso-spacerun:yes'> 
                        </span><o:p></o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'><o:p>&nbsp;</o:p></span></p>

                        <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
                        justify;line-height:150%'><span style='font-family:"Garamond",serif'>For
                        attendees interested in extending their trip to visit other parts of Morocco,
                        we would be pleased to provide information and options for Fes, Meknes,
                        Marrakech and <span class=SpellE>Essaouira</span>, as well as a trip to the
                        Sahara Desert.<o:p></o:p></span></p>

                        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                        </div>

                        </body>
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

	
{% endblock %}
