{% import "templates/mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ title|default("UIRIMAL") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		{# Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production. #}
		<link href="/styles/site.min.css" rel="stylesheet">

		{# This file provides the default styling for the KeystoneJS Content Editor #}
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}

		{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		   Safely remove this block if you are not targeting IE8 #}
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		{# Include template-specific stylesheets by extending the css block #}
		{% block css %}
			<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

			<!-- Plugin CSS -->
			<link rel="stylesheet" href="/styles/animate.min.css" type="text/css">
		{% endblock %}

		{# Add any other template-specific HEAD tags by extending the head block #}
		{% block head %}{% endblock %}
	</head>
	

		{# HEADER #}
		<body id="page-top">
			<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">UIR International Model Arab League</a>
				</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <a id="registerBtn" href="/register" class="btn btn-default btn-xl" data-toggle="modal">Register Now!</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About UIRIMAL</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#committees">Councils</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#staff">Staff</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resources">Resources</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contact">Contact</a>
                    </li>
                    {% if user %}
						{% if user.canAccessKeystone %}
							<li><a href="/keystone">Open Keystone</a></li>
							{% endif %}
							<li><a href="/keystone/signout">Sign Out</a></li>
							{% else %}
							<li><a href="/keystone/signin">Sign In</a></li>
							{% endif %}
					</ul>
				</div>
            <!-- /.navbar-collapse -->
			</div>
        <!-- /.container-fluid -->
		</nav>
		<header>
			<div class="header-content">
				<div class="header-content-inner">
					<h2 contenteditable="true" style="font-size:24px;">Université Internationale de Rabat</h2>
					<h1>Model Arab League</h1>
					<hr>
					<p>New Challenges, New Paths</p>
					<h2 style="margin-top:30px; margin-bottom:50px; font-size:24px;">Thursday November 12 - Sunday November 15, 2015</h2>
					<a href="/register" class="btn btn-primary btn-xl page-scroll">Register Now!</a>
				</div>
			</div>
			<p style="position: absolute; font-family: font-family: Arial, Helvetica; bottom: 0; width:100%; text-align: center;">Hosted in Conjunction with Georgia State University</p>
		</header>
		</body>

		{# BODY #}
		<div id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
		</div>


		{# FOOTER #}
		<div id="footer" class="container">
			{# You don"t _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it! #}
			<p style="float: left;">Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>, and built by Shahein Moussavi for Georgia State University.</p>
			<div id="google_translate_element" style="float: right; width: 100px;"></div>
		</div>


		{# JAVASCRIPT #}

		{# jQuery 1.11.1 is included by default, and required by both Bootstrap
			and the KeystoneJS Content Editor. If you are not targeting IE8,
			you can upgrade to 2.1.3 (also bundled) for better performance. #}
		<script src="/js/jquery/jquery-2.1.3.min.js"></script>

		{# Customise which Bootstrap javascript files are served by including
			them specifically here, instead of bootstrap-3.3.4.min.js #}
		<script src="/js/bootstrap/bootstrap-3.3.4.min.js"></script>

		{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
			which generate links to edit content for users who can access Keystone #}
		{% if user and user.canAccessKeystone %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}

		{# Add scripts that are globally required by your site here. #}

		{# Include template-specific javascript files by extending the js block #}
		{% block js %}
			<!-- Plugin JavaScript -->
			<script src="/js/jquery.easing.min.js"></script>
			<script src="/js/jquery.fittext.js"></script>
			<script src="/js/wow.min.js"></script>

			<!-- Custom Theme JavaScript -->
			<script src="/js/creative.js"></script>

			<!-- Google Translate Scripts -->
			<script type="text/javascript">
				function googleTranslateElementInit() {
  					new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,en,es,fr', layout: google.translate.TranslateElement.FloatPosition.BOTTOM_RIGHT, multilanguagePage: true}, 'google_translate_element');
				}
			</script>
			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		{% endblock %}
		<script type="text/javascript">
        (function ($) {
            $(document).ready(function () {

                // hide .navbar first
                $("#registerBtn").hide();

                // fade in .navbar
                $(function () {
                    $(window).scroll(function () {

                        // set distance user needs to scroll before we start fadeIn
                        if ($(this).scrollTop() > 450) {
                            $('#registerBtn').fadeIn();
                        } else {
                            $('#registerBtn').fadeOut();
                        }
                    });
                });

            });
        }(jQuery));
    </script>
	</body>
</html>
